
<!DOCTYPE html>
<html lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>SolarBit</title>

        <!--Favicon add-->
    	<link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='img/fevicon.png')}}">
        <!--bootstrap Css-->
        <link href="{{ url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
        <!--Style Css-->
        <link href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/profile.css')}}" rel="stylesheet">
        <!--font-awesome Css-->
        <link href="{{ url_for('static', filename='css/font-awesome.min.css')}}" rel="stylesheet">        
    </head>

    <body>

    <div class="SocialQA">
        <ul id="socials">
            <li><i class="fa fa-facebook"></i></li>
            <li><i class="fa fa-twitter"></i></li>
            <li><i class="fa fa-youtube-play"></i></li>
        </ul>
    </div>

	<nav class="navbar navbar-default sidebar" role="navigation">
	    <div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>      
	    </div>
	    <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <li class="active"><a href="#">Home<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span></a></li>
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Usuarios <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span></a>
	          <ul class="dropdown-menu forAnimate" role="menu">
	            <li><a href="#">Crear</a></li>
	            <li><a href="#">Modificar</a></li>
	            <li><a href="#">Reportar</a></li>
	            <li class="divider"></li>
	            <li><a href="#">Separated link</a></li>
	            <li class="divider"></li>
	            <li><a href="#">Informes</a></li>
	          </ul>
	        </li>          
	        <li ><a href="#">Libros<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-th-list"></span></a></li>        
	        <li ><a href="#">Tags<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-tags"></span></a></li>
	      </ul>
	    </div>
	  </div>
	</nav>


	{% with messages = get_flashed_messages() %}
	{% if messages %}
	  <div class="alert">
		    <ul class="flashes">
		    {% for message in messages %}
		      <li>{{ message }}</li>
		    {% endfor %}
		    </ul>
		</div>
	{% endif %}
	{% endwith %}


    

<script src="{{ url_for('static', filename='js/jquery.js')}}"></script>
<!--Bootstrap v3 script load here-->
<script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/main.js')}}"></script>

</body>
</html>
