{% extends "layout.html" %}
{% block body %}

<div class="row">
	<h1>Wallets</h1>
</div>

<form action="" method=post class="form-horizontal"> 
	<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
	<div class="row">
		{% for wallet in wallets %}
			<div style="width:100%">
				{{wallet.name}}<input type="text" id="{{wallet.id}}" name="{{wallet.name}}" value="{{wallet.value}}">
			</div>
		{% endfor %}
	</div>
	<div class="row">
		<div>
			<button type="submit" class="btn btn-success">Save</button>
		</div>
	</div>
</form>

{% endblock %}
