{% extends "layout.html" %}
{% block body %}
  <form action="{{ url_for('home.save_reset_pass') }}" method=post class="form-horizontal">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <input type="hidden" name="email" value="{{ email }}"/>

    <div class="control-group">
        <div class="controls">
          <input type="password" id="password" name="password" class="input-xlarge"
            placeholder="New Password" value="{{ request.form.password }}"
            required>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
          <input type="password" id="password_repeat" name="password_repeat" class="input-xlarge"
            placeholder="Repeat Password" value="{{ request.form.password_repeat }}"
            required>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-success">Reset</button>
        </div>
    </div>
  </form>
{% endblock %}
