{% extends "layout.html" %}
{% from "home/_form_helper.html" import render_field %}
{% block body %}

  <form action="{{url_for('home.send_reset_pass')}}" method=post class="form-horizontal">

    <p>Please specify email and we will send you a link to reset password</p>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <div class="control-group">
        <div class="controls">
          <input type="email" id="email" name="email" class="input-xlarge"
            placeholder="Enter email" required>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-success">Send</button>
        </div>
    </div>

  </form>

{% endblock %}
