{% from "macros.html" import nav_link with context %}
<!doctype html>
<title>XXX app</title>
<!-- <meta name="viewport" content="initial-scale=1.0, user-scalable=no"> -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8">
<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
<style>
body {
	padding-top: 60px;
	padding-bottom: 100px;
}
</style>
<link href="{{ url_for('static', filename='css/vendor/bootstrap.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/vendor/bootstrap-responsive.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/common.css') }}" rel="stylesheet">

<script src="{{ url_for('static', filename='js/vendor/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/bootstrap.js') }}"></script>
<script src="{{ url_for('static', filename='js/common.js') }}"></script>

<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<button type="button" class="btn btn-navbar" data-toggle="collapse"
					data-target=".nav-collapse">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="brand" href="/">XXXApp</a>
				<div class="nav-collapse collapse">
					<ul class="nav">
                        {{ nav_link('home.index', "Home") }}
						{% if g.user.is_authenticated %}
							{{ nav_link('userprofile.profile', "Profile") }}
							{{ nav_link('home.logout', "Logout") }}
						{% endif %}
						{% if not g.user.is_authenticated %}
							{{ nav_link('home.login', "Login") }}
							{{ nav_link('home.register', "Register") }}
							{{ nav_link('home.index', "About Us") }}
						{% endif %}
					</ul>
				</div>
				<!--/.nav-collapse -->
			</div>
		</div>
</div>

<div id="main" class="container">
	{% with messages = get_flashed_messages() %}
	{% if messages %}
	  <div class="alert">
		    <ul class="flashes">
		    {% for message in messages %}
		      <li>{{ message }}</li>
		    {% endfor %}
		    </ul>
		</div>
	{% endif %}
	{% endwith %}

	{% if g.user.is_authenticated  and g.user.confirmed %}


	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span3">
				<ul class="nav nav-list">
					<li class=""><a href="{{url_for('userprofile.makedeposit')}}"><i class="icon-chevron-right"></i> Make deposit</a></li>
					<li class=""><a href="{{url_for('userprofile.deposits')}}"><i class="icon-chevron-right"></i> Deposits</a></li>
					<li class=""><a href="#"><i class="icon-chevron-right"></i> Payment info</a></li>
					<li class=""><a href="{{url_for('userprofile.activity')}}"><i class="icon-chevron-right"></i> Activity history</a></li>
					<li class=""><a href="{{url_for('userprofile.referrals')}}"><i class="icon-chevron-right"></i> Refferal system</a></li>
					<li class=""><a href="#"><i class="icon-chevron-right"></i> Withdraw</a></li>
					<li class=""><a href="#"><i class="icon-chevron-right"></i> Help</a></li>
				</ul>
			</div>
			<div class="span9">
				<div class="row-fluid">
					<div class="span6 offset6">
						<p>Balance: {{ g.user.account.balance }}$ --- 
						BitCoin: {{ g.user.account.bitcoin }}</p>
						<p>Total investments: {{ g_investment }}</p>
						<p>Total earnings: {{ g_earning }}</p>
					</div>
				</div>
				{% endif %}
				{% block body %}{% endblock %}
				{% if g.user.is_authenticated  and g.user.confirmed %}
			</div>
		</div>
	</div>

	{% endif %}


	<hr>
	<footer id="footer">
				Some footer	
	</footer>
</div>
